<div class="form-input-group {{cssModificator}}">
    <input class="form-input-group__input" 
        type="{{type}}" 
        id="{{name}}" name="{{name}}"
        placeholder="{{placeholder}}" />
    <span class="form-input-group__error">{{errorMessage}}</span>
</div>