<div class="chats">
    <div class="chats__navigation">
        <a class="chats__link">Профиль ></a>
        {{{ Searchbox }}}
    </div>
    <div class="chats__list">
        {{{ ChatPreview name="Андрей" lastMessage="Изображение" time="10:49" }}}
        {{{ ChatPreview name="Киноклуб" lastMessage="Вы: стикер" time="10:49" }}}
        {{{ ChatPreview name="Илья" lastMessage="Изображение" time="10:49" }}}
        {{{ ChatPreview name="Вадим" lastMessage="Изображение" time="10:49" }}}
        {{{ ChatPreview name="тет-а-теты" lastMessage="Изображение" time="10:49" }}}
        {{{ ChatPreview name="1, 2, 3" lastMessage="Изображение" time="10:49" }}}
    </div>
</div>
