<div class="profile-card">
    <div class="profile-card__avatar">
        {{#if avatar}}
        <img src="{{{avatar}}}" alt="avatar" />
        {{else}}
        <span class="profile-card__avatar-icon"></span>
        {{/if}}
        <div class="profile-card__shadow"><span>Поменять аватар</span></div>
    </div>
    <p class="profile-card__name">{{{name}}}</p>
    {{{ KeyValueLine key="Почта" value="pochta@yandex.ru" }}}
    {{{ KeyValueLine key="Логин" value="ivanivanov" }}}
    {{{ KeyValueLine key="Имя" value="Иван" }}}
    {{{ KeyValueLine key="Фамилия" value="Иванов" }}}
    {{{ KeyValueLine key="Имя в чате" value="Иван" }}}
    {{{ KeyValueLine key="Телефон" value="+7 (909) 967 30 30" }}}
</div>
