<div class="chat-area {{selected}}">
    {{#if selected }}
    <div class="chat-area__header">
        <div class="chat-area__recipient-info">
            <div class="chat-area__recipient-avatar"></div>
            <p class="chat-area__recipient-name">{{{recipientName}}}</p>
        </div>
        <button class="chat-area__actions-button">
            <span class="chat-area__actions-icon"></span>
        </button>
    </div>
    <div class="chat-area__main">
        <div class="chat-area__dialog-area">
            <p class="chat-area__messages-date">19 июня</p>
            {{{ Message type="message_type_recieved" contentType="message_content-type_text" text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро." }}}
            {{{ Message  type="message_type_recieved" contentType="message_content-type_image" }}}
            {{{ Message  type="message_type_sent" contentType="message_content-type_text" text="Круто!" }}}
        </div>
        <div class="chat-area__new-message-area">
            <button class="chat-area__attach-file-button">
                <span class="chat-area__attach-file-icon"></span>
                <div class="chat-area__file-type-options">
                    {{{ FileTypeOption optionText="Фото или Видео" fileType="photo" }}}
                    {{{ FileTypeOption optionText="Файл" fileType="video" }}}
                    {{{ FileTypeOption optionText="Локация" fileType="location" }}}
                </div>
            </button>
            <input type="text" id="message" name="message" class="chat-area__new-message" placeholder="Сообщение"/>
            <button class="chat-area__send-button">
                <span class="chat-area__send-icon"></span>
            </button>
        </div>
    </div>
    {{else}}
    <p class="chat-area__no-choosen-message">Выберите чат чтобы отправить сообщение</p>
    {{/if}}
</div>
