<div class="modal {{{cssModificator}}}">
    <h1 class="modal__heading">{{{heading}}}</h1>
    {{#if buttonText}}
    <button class="modal__chose-image-button">{{{buttonText}}}</button>
    {{else}}
    <p class="modal__message">{{{message}}}</p>
    {{/if}}
    {{{ Button heading="Поменять" }}}
</div>
