<div class="form-input-group {{{cssModificator}}}">
    {{{ Input 
        type="{{type}}" id="{{id}}" name="{{name}}" 
        placeholder="{{placeholder}}" 
        validationType="{{validationType}}"
        onBlur=events.blur }}}
    {{{ FormError text=error ref="formError" }}}
</div>
